@charset "UTF-8";
main {
  background-color: #fff; }
  main .button_whats {
    position: fixed;
    right: 0;
    bottom: 5%;
    padding: 30px 30px; }
    main .button_whats img {
      width: 50px;
      height: 50px; }
  main .productos-sec1 .prod-card-container .prod-card {
    border-radius: 16px;
    margin: 0 auto;
    width: 350px;
    height: 350px;
    max-width: 100%;
    min-height: 400px;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
    overflow: hidden;
    background-size: cover; }
  main .productos-sec1 .prod-card-container .card-info {
    position: relative;
    width: 100%;
    height: 400px;
    background-color: rgba(99, 88, 88, 0.521);
    transform: translateY(100%) translateY(-88px) translateZ(0);
    transition: transform 0.5s ease-out; }
    main .productos-sec1 .prod-card-container .card-info .card-title-standard {
      margin: 0;
      padding: 30px;
      font-size: 30px; }
    main .productos-sec1 .prod-card-container .card-info .card-text-standard {
      margin-top: 0px;
      padding: 0 24px 24px;
      font-size: 18px; }
  main .productos-sec1 .prod-card-container .card-info:before {
    z-index: -1;
    display: block;
    position: absolute;
    content: ' ';
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #000;
    filter: blur(10px);
    background-size: cover;
    opacity: 0.25;
    transform: translateY(-100%) translateY(88px) translateZ(0);
    transition: transform 0.5s ease-out; }
  @media screen and (max-width: 420px) {
    main .productos-sec1 .prod-card-container .prod-card {
      width: 300px !important;
      height: 300px !important; } }
  main .productos-sec1 .prod-card-container .prod-card:hover .card-info,
  main .productos-sec1 .prod-card-container .prod-card:hover .card-info:before {
    transform: translateY(0) translateZ(0); }
  main .productos-sec1 .prod-card-container .btn-standard {
    background-color: #C0C0C0;
    width: 10rem;
    border-radius: 8px; }
  main .productos-sec1 .prod-card-container .btn-standard:hover {
    background-color: #ada9a9; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  /* font-family: 'Pacifico', cursive; */ }
  *::-webkit-scrollbar {
    width: 12px;
    background: #efefef; }
  *::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 10px; }

body {
  padding: 0 !important; }

/*HEADER*/
.navbar {
  background-color: #2d4350; }

.navbar-brand {
  padding: 0px 40px; }
  .navbar-brand img:hover {
    transition: all 0.3s ease;
    opacity: 50%;
    transform: scale(120%); }

#navbarNav {
  padding: 0px 40px;
  justify-content: flex-end;
  align-items: center; }
  #navbarNav li {
    padding: 0px 40px; }
    #navbarNav li a {
      /* color: rgb(66, 66, 66); */
      font-size: 16px;
      color: #fff;
      font-weight: 500; }
      #navbarNav li a:hover {
        transition: all 0.3s ease;
        opacity: 50%; }

/*mainhome*/
.main_home {
  width: 100%;
  background-image: url(../img/Pan_de_Jamón/roll_pan_jamon.webp);
  background-position: center center;
  background-size: cover; }
  .main_home .home {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.692);
    padding: 100px 130px; }
    .main_home .home .home-img {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 80px 80px; }
      .main_home .home .home-img img {
        width: 40%;
        height: auto;
        border-radius: 40x; }
  .main_home .button_whats {
    position: fixed;
    right: 0;
    bottom: 5%;
    padding: 30px 30px; }
    .main_home .button_whats img {
      width: 50px;
      height: 50px; }

/*about me*/
.about {
  width: 100%; }
  .about .title-about {
    width: 100%;
    background-color: #2d4350;
    padding: 150px 0px; }
    .about .title-about h1 {
      font-family: "Pacifico", cursive;
      font-size: 80px;
      text-align: center;
      color: #fff; }
  .about .about-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-gap: 40px;
    padding: 100px; }
    .about .about-container .about-container-img {
      width: 100%;
      height: 100%; }
      .about .about-container .about-container-img img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
    .about .about-container .about-p {
      width: 100%;
      height: 100%; }
      .about .about-container .about-p h2 {
        font-size: 35px; }
      .about .about-container .about-p p {
        width: 100%;
        height: 100%;
        text-align: justify;
        font-weight: 300; }
    .about .about-container .img1 {
      width: 100%;
      height: 100%;
      grid-column-start: span 2; }
      .about .about-container .img1 img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
    .about .about-container .img2 {
      width: 100%;
      height: 100%;
      grid-column-start: span 2;
      background-color: #202020;
      border-radius: 20px; }
      .about .about-container .img2 img {
        width: 100%;
        height: 100%;
        object-fit: contain; }
    .about .about-container .img3 {
      width: 100%;
      height: 100%; }
      .about .about-container .img3 img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
    .about .about-container .about-p2 {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      justify-content: space-between; }
      .about .about-container .about-p2 p {
        font-size: 16px;
        font-weight: 300;
        text-align: justify;
        height: 50%; }
      .about .about-container .about-p2 img {
        height: 40%;
        width: auto;
        padding-top: 30px; }
    .about .about-container .about-p3 {
      width: 100%;
      height: 100%; }
      .about .about-container .about-p3 p {
        font-size: 16px;
        font-weight: 300;
        text-align: justify; }
    .about .about-container .img4 {
      width: 100%;
      height: 100%;
      grid-column-start: span 3; }
      .about .about-container .img4 img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
    .about .about-container img {
      border-radius: 20px; }
  .about .button_whats {
    position: fixed;
    right: 0;
    bottom: 5%;
    padding: 30px 30px; }
    .about .button_whats img {
      width: 50px;
      height: 50px; }

.tips {
  width: 100%;
  display: flex;
  flex-flow: column nowrap; }
  .tips .titulo_tips {
    width: 100%;
    background-color: #2d4350;
    padding: 150px 0px; }
    .tips .titulo_tips h1 {
      font-family: "Pacifico", cursive;
      font-size: 80px;
      text-align: center;
      color: #fff; }
  .tips .container_cachito {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px 0px; }
    .tips .container_cachito .cachito--img {
      width: 30%;
      height: auto; }
      .tips .container_cachito .cachito--img img {
        width: 100%;
        object-fit: cover; }
    .tips .container_cachito .cachito_p {
      width: 50%;
      text-align: justify;
      padding-right: 40px; }
      .tips .container_cachito .cachito_p p {
        font-weight: 300;
        font-size: 16px; }
  .tips .consejos {
    width: 100%;
    padding: 30px 50px; }
    .tips .consejos p {
      font-weight: 300; }
  .tips .card_tips {
    width: 100%;
    padding: 30px 0px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly; }
    .tips .card_tips .card {
      margin-top: 30px;
      width: 30rem; }
      .tips .card_tips .card img {
        width: 100%;
        height: 20rem;
        object-fit: cover; }
      .tips .card_tips .card .card-body {
        width: 100%;
        height: 30rem;
        padding: 20px; }
        .tips .card_tips .card .card-body h3 {
          text-align: center; }
        .tips .card_tips .card .card-body p {
          text-align: justify;
          font-weight: 300;
          font-size: 14px; }

/*contacto*/
.contact {
  width: 100%; }
  .contact .title-contact {
    width: 100%;
    background-color: #2d4350;
    padding: 150px 0px; }
    .contact .title-contact h1 {
      font-family: "Pacifico", cursive;
      font-size: 80px;
      text-align: center;
      color: #fff;
      font-size: 80px; }
  .contact .contact-container {
    width: 100%;
    height: 100%;
    padding: 100px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center; }
    .contact .contact-container .contact-container--social {
      width: 100%;
      height: 50%;
      display: flex;
      flex-flow: row nowrap;
      padding: 20px 50px;
      justify-content: center;
      align-items: center; }
      .contact .contact-container .contact-container--social .container--social-img {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 20px 50px; }
        .contact .contact-container .contact-container--social .container--social-img .img_shadow {
          width: 100%;
          height: 100%;
          border-radius: 10px;
          box-shadow: -41px 32px rgba(0, 0, 0, 0.192); }
      .contact .contact-container .contact-container--social .container--social-redes {
        width: 50%;
        height: 100%;
        align-self: center;
        margin: 30px 30px;
        padding: 10px 70px; }
        .contact .contact-container .contact-container--social .container--social-redes h2 {
          font-size: 35px;
          font-weight: 600; }
        .contact .contact-container .contact-container--social .container--social-redes li {
          width: 100%;
          margin-top: 60px;
          display: flex;
          flex-flow: row nowrap;
          justify-content: flex-start;
          align-items: center; }
          .contact .contact-container .contact-container--social .container--social-redes li a img {
            width: 40px;
            height: 40px; }
            .contact .contact-container .contact-container--social .container--social-redes li a img:hover {
              transform: scale(140%);
              transition: all 0.3s ease;
              opacity: 50%; }
          .contact .contact-container .contact-container--social .container--social-redes li .social_a {
            margin-left: 20px;
            font-weight: 500;
            font-size: 20px;
            text-decoration: none;
            color: #000; }
            .contact .contact-container .contact-container--social .container--social-redes li .social_a:hover {
              transition: all 0.3s ease;
              opacity: 50%; }
    .contact .contact-container .contact-container--reclamos {
      width: 100%;
      height: 50%;
      display: flex;
      flex-flow: row nowrap;
      margin-top: 60px;
      padding: 20px 50px; }
      .contact .contact-container .contact-container--reclamos .container--reclamos-p {
        width: 50%;
        height: 100%;
        align-self: center;
        padding: 20px; }
        .contact .contact-container .contact-container--reclamos .container--reclamos-p h2 {
          font-size: 35px;
          font-weight: 600;
          width: 100%;
          text-align: center; }
        .contact .contact-container .contact-container--reclamos .container--reclamos-p p {
          font-size: 18px;
          text-align: justify;
          margin-top: 20px; }
          .contact .contact-container .contact-container--reclamos .container--reclamos-p p a {
            text-decoration-color: #2d4350;
            color: #2d4350; }
      .contact .contact-container .contact-container--reclamos .img_reclamos {
        width: 50%;
        border-radius: 10px;
        box-shadow: 70px 32px rgba(0, 0, 0, 0.192);
        padding-left: 40px;
        object-fit: cover; }
  .contact .button_whats {
    position: fixed;
    right: 0;
    bottom: 5%;
    padding: 30px 30px; }
    .contact .button_whats img {
      width: 50px;
      height: 50px; }

/*footer*/
footer {
  width: 100%;
  background-color: #F4f4f4;
  display: grid;
  grid-template-columns: 40% 30% 30%;
  grid-template-rows: auto;
  grid-template-areas: "a1 a2 a3" "a1 a4 a4" "a5 a5 a5"; }
  footer .footer--logo {
    grid-area: a1;
    width: 100%;
    height: 100%;
    /* background-color: pink; */
    display: flex;
    flex-direction: column;
    padding: 0px 40px; }
    footer .footer--logo p {
      font-size: 16px;
      color: #000;
      font-weight: 500;
      text-align: justify; }
    footer .footer--logo img {
      width: 30%;
      height: auto; }
  footer .footer--menu {
    grid-area: a2;
    width: 100%;
    height: 100%;
    padding: 50px 40px; }
    footer .footer--menu h2 {
      font-weight: 700;
      color: #000; }
    footer .footer--menu ul {
      padding-left: 0; }
    footer .footer--menu li {
      list-style: none;
      margin-top: 15px; }
      footer .footer--menu li a {
        text-decoration: none;
        color: #000;
        font-weight: 500;
        font-size: 16px; }
        footer .footer--menu li a:hover {
          transition: all 0.3s ease;
          opacity: 50%; }
  footer .footer--social {
    grid-area: a3;
    width: 100%;
    height: 100%;
    /* background-color: skyblue; */
    padding: 50px 40px; }
    footer .footer--social h2 {
      font-weight: 700;
      color: #000; }
    footer .footer--social a img {
      width: 32px;
      height: 32px;
      margin-top: 10px; }
      footer .footer--social a img:hover {
        transform: scale(140%);
        transition: all 0.3s ease;
        opacity: 50%; }
    footer .footer--social .margin-social {
      margin-left: 20px; }
  footer .footer-quejas {
    grid-area: a4;
    width: 100%;
    height: 100%;
    /* background-color: rgb(79, 0, 99); */
    padding: 30px 40px 40px 40px; }
    footer .footer-quejas h2 {
      font-weight: 600; }
      footer .footer-quejas h2 a {
        display: inline-block;
        position: relative;
        color: #264653;
        text-decoration: none; }
      footer .footer-quejas h2 a:after {
        content: "";
        display: block;
        margin: auto;
        height: 2px;
        width: 0px;
        transition: all .5s; }
      footer .footer-quejas h2 a:hover:after {
        width: 100%;
        background: #264653; }
    footer .footer-quejas p {
      width: 80%;
      padding-right: 40px;
      color: #000;
      font-weight: 500;
      font-size: 16px;
      text-align: justify; }
  footer .derechos {
    grid-area: a5;
    width: 100%;
    height: 100%;
    padding-top: 20px;
    padding-left: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #000;
    background-color: #e2e2e2; }
    footer .derechos h3 {
      width: 100%;
      height: 100%;
      text-align: left;
      font-weight: 500;
      color: #000;
      font-size: 16px; }

/**media queries***/
@media screen and (max-width: 320px) {
  .navbar-brand {
    padding: 0px 0px; }
  #navbarNav {
    padding: 0px 0px;
    justify-content: flex-start;
    align-items: flex-start; }
    #navbarNav li {
      padding: 0px 10px; }
      #navbarNav li a {
        font-size: 14px; }
  .main_home {
    width: 100%;
    background-size: cover;
    background-position: center center; }
    .main_home .home {
      padding: 100px 0px; }
      .main_home .home .home-img {
        width: 100%; }
        .main_home .home .home-img img {
          width: 100%;
          height: auto; }
    .main_home .button_whats {
      position: fixed;
      right: 0;
      bottom: 5%;
      padding: 10px 10px; }
      .main_home .button_whats img {
        width: 35px;
        height: 35px; }
  .about {
    width: 100%; }
    .about .title-about {
      padding: 100px 0px; }
      .about .title-about h1 {
        font-size: 50px; }
    .about .about-container {
      width: 100%;
      padding: 30px 30px;
      grid-template-columns: 100%;
      grid-template-rows: auto;
      grid-template-areas: "a1" "a2" "a3" "a4" "a5" "a6" "a7" "a8"; }
      .about .about-container .about-container-img {
        width: 100%;
        height: auto;
        grid-area: a1; }
      .about .about-container .about-p {
        width: 100%;
        height: auto;
        grid-area: a2; }
        .about .about-container .about-p p {
          font-size: 14px; }
        .about .about-container .about-p h2 {
          text-align: center;
          font-size: 30px; }
      .about .about-container .img2 {
        width: 100%;
        height: 100%;
        grid-area: a3; }
      .about .about-container .about-p2 {
        grid-area: a4;
        width: 100%;
        height: auto; }
        .about .about-container .about-p2 p {
          font-size: 14px; }
      .about .about-container .img1 {
        grid-area: a5;
        width: 100%;
        height: auto; }
      .about .about-container .about-p3 {
        grid-area: a6;
        width: 100%;
        height: auto; }
        .about .about-container .about-p3 p {
          font-size: 14px; }
      .about .about-container .img3 {
        grid-area: a7;
        width: 100%;
        height: auto; }
      .about .about-container .img4 {
        grid-area: a8;
        width: 100%;
        height: auto; }
    .about .button_whats {
      position: fixed;
      right: 0;
      bottom: 5%;
      padding: 10px 10px; }
      .about .button_whats a img {
        width: 35px;
        height: 35px; }
  .contact {
    width: 100%; }
    .contact .button_whats {
      position: fixed;
      right: 0;
      bottom: 5%;
      padding: 10px 10px; }
      .contact .button_whats img {
        width: 35px;
        height: 35px; }
    .contact .title-contact {
      width: 100%;
      padding: 100px 0px; }
      .contact .title-contact h1 {
        font-size: 50px; }
    .contact .contact-container {
      width: 100%;
      padding: 20px 10px; }
      .contact .contact-container .contact-container--social {
        width: 100%;
        padding: 0px;
        flex-flow: column nowrap; }
        .contact .contact-container .contact-container--social .container--social-img {
          width: 100%;
          height: auto;
          padding: 0px; }
          .contact .contact-container .contact-container--social .container--social-img .img_shadow {
            box-shadow: none;
            object-fit: cover;
            padding: 0px 0px; }
        .contact .contact-container .contact-container--social .container--social-redes {
          width: 100%;
          padding: 0px 0px;
          margin: 0px 0px;
          display: grid;
          grid-template-columns: 50% 50%;
          grid-template-rows: auto;
          grid-template-areas: "a1 a1" "a2 a2" "a2 a2";
          justify-content: center;
          align-items: center;
          margin-top: 20px; }
          .contact .contact-container .contact-container--social .container--social-redes h2 {
            font-size: 25px;
            grid-area: a1;
            text-align: center;
            padding-top: 20px; }
          .contact .contact-container .contact-container--social .container--social-redes li {
            width: 100%;
            height: auto;
            margin-top: 40px; }
            .contact .contact-container .contact-container--social .container--social-redes li .social_a {
              font-size: 14px;
              margin-left: 5px; }
            .contact .contact-container .contact-container--social .container--social-redes li a img {
              width: 25px;
              height: 25px; }
      .contact .contact-container .contact-container--reclamos {
        width: 100%;
        flex-flow: column nowrap;
        padding: 20px 10px;
        margin-top: 30px; }
        .contact .contact-container .contact-container--reclamos .container--reclamos-p {
          width: 100%;
          height: auto;
          padding: 0px; }
          .contact .contact-container .contact-container--reclamos .container--reclamos-p h2 {
            font-size: 25px; }
          .contact .contact-container .contact-container--reclamos .container--reclamos-p p {
            font-size: 14px; }
        .contact .contact-container .contact-container--reclamos .img_reclamos {
          width: 100%;
          box-shadow: none;
          padding: 0px 0px;
          margin-top: 10px; }
  .tips {
    width: 100%;
    padding: 0; }
    .tips .titulo_tips {
      padding: 100px 0px; }
      .tips .titulo_tips h1 {
        font-size: 50px; }
    .tips .container_cachito {
      width: 100%;
      flex-flow: column nowrap; }
      .tips .container_cachito .cachito--img {
        width: 100%;
        padding: 0; }
      .tips .container_cachito .cachito_p {
        width: 100%;
        padding: 20px; }
        .tips .container_cachito .cachito_p p {
          font-size: 13px; }
    .tips .consejos {
      width: 100%;
      padding: 10px 20px; }
      .tips .consejos p {
        font-size: 13px; }
    .tips .card_tips {
      width: 100%;
      flex-flow: column wrap;
      justify-content: center;
      align-items: center; }
      .tips .card_tips .card {
        width: 18rem;
        height: auto; }
        .tips .card_tips .card img {
          width: 100%;
          height: 10rem; }
        .tips .card_tips .card .card-body {
          width: 100%; }
          .tips .card_tips .card .card-body p {
            font-size: 13px; }
    .tips .button_whats {
      position: fixed;
      right: 0;
      bottom: 5%;
      padding: 10px 10px; }
      .tips .button_whats a img {
        width: 35px;
        height: 35px; }
  footer {
    width: 100%;
    height: auto;
    grid-template-rows: auto;
    grid-template-columns: 100%;
    grid-template-areas: "a1" "a1" "a2" "a3" "a4" "a5";
    grid-gap: 10px;
    padding: 0px; }
    footer .footer--logo {
      width: 100%;
      height: auto;
      padding: 0px 20px;
      display: flex;
      justify-content: center;
      align-items: center; }
      footer .footer--logo img {
        width: 50%;
        height: auto; }
      footer .footer--logo p {
        font-size: 14px;
        padding: 0px;
        width: 100%;
        font-weight: 300; }
    footer .footer--menu {
      width: 100%;
      height: auto;
      padding: 20px 20px; }
      footer .footer--menu h2 {
        text-align: center; }
      footer .footer--menu li {
        text-align: center; }
        footer .footer--menu li a {
          font-size: 14px;
          font-weight: 300; }
    footer .footer--social {
      width: 100%;
      padding: 20px 20px;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center; }
      footer .footer--social h2 {
        text-align: center; }
      footer .footer--social .margin-social {
        margin: 0px 0px; }
      footer .footer--social a img {
        margin-top: 20px; }
    footer .footer-quejas {
      width: 100%;
      padding: 20px 20px; }
      footer .footer-quejas h2 {
        width: 100%;
        text-align: center; }
      footer .footer-quejas p {
        width: 100%;
        padding: 0px;
        margin-top: 20px;
        font-size: 14px;
        font-weight: 300; }
    footer .derechos {
      width: 100%;
      padding: 20px 10px 10px 10px; }
      footer .derechos h3 {
        font-size: 14px;
        text-align: center;
        font-weight: 300; } }

@media screen and (min-width: 321px) {
  .navbar-brand {
    padding: 0px 0px; }
  #navbarNav {
    padding: 0px 0px;
    justify-content: flex-start;
    align-items: flex-start; }
    #navbarNav li {
      padding: 0px 10px; }
      #navbarNav li a {
        font-size: 14px; }
  .main_home {
    width: 100%;
    background-size: cover;
    background-position: center center; }
    .main_home .home {
      padding: 100px 0px; }
      .main_home .home .home-img {
        width: 100%; }
        .main_home .home .home-img img {
          width: 100%;
          height: auto; }
    .main_home .button_whats {
      position: fixed;
      right: 0;
      bottom: 5%;
      padding: 10px 10px; }
      .main_home .button_whats img {
        width: 35px;
        height: 35px; }
  .about {
    width: 100%; }
    .about .title-about {
      padding: 100px 0px; }
      .about .title-about h1 {
        font-size: 50px; }
    .about .about-container {
      width: 100%;
      padding: 30px 30px;
      grid-template-columns: 100%;
      grid-template-rows: auto;
      grid-template-areas: "a1" "a2" "a3" "a4" "a5" "a6" "a7" "a8"; }
      .about .about-container .about-container-img {
        width: 100%;
        height: auto;
        grid-area: a1; }
      .about .about-container .about-p {
        width: 100%;
        height: auto;
        grid-area: a2; }
        .about .about-container .about-p p {
          font-size: 14px; }
        .about .about-container .about-p h2 {
          text-align: center;
          font-size: 30px; }
      .about .about-container .img2 {
        width: 100%;
        height: 100%;
        grid-area: a3; }
      .about .about-container .about-p2 {
        grid-area: a4;
        width: 100%;
        height: auto; }
        .about .about-container .about-p2 p {
          font-size: 14px; }
      .about .about-container .img1 {
        grid-area: a5;
        width: 100%;
        height: auto; }
      .about .about-container .about-p3 {
        grid-area: a6;
        width: 100%;
        height: auto; }
        .about .about-container .about-p3 p {
          font-size: 14px; }
      .about .about-container .img3 {
        grid-area: a7;
        width: 100%;
        height: auto; }
      .about .about-container .img4 {
        grid-area: a8;
        width: 100%;
        height: auto; }
    .about .button_whats {
      position: fixed;
      right: 0;
      bottom: 5%;
      padding: 10px 10px; }
      .about .button_whats a img {
        width: 35px;
        height: 35px; }
  .tips {
    width: 100%;
    padding: 0; }
    .tips .titulo_tips {
      padding: 100px 0px; }
      .tips .titulo_tips h1 {
        font-size: 50px; }
    .tips .container_cachito {
      width: 100%;
      flex-flow: column nowrap; }
      .tips .container_cachito .cachito--img {
        width: 100%;
        padding: 0; }
      .tips .container_cachito .cachito_p {
        width: 100%;
        padding: 20px; }
        .tips .container_cachito .cachito_p p {
          font-size: 13px; }
    .tips .consejos {
      width: 100%;
      padding: 10px 20px; }
      .tips .consejos p {
        font-size: 13px; }
    .tips .card_tips {
      width: 100%;
      flex-flow: column wrap;
      justify-content: space-around;
      align-items: center; }
      .tips .card_tips .card {
        width: 18rem;
        height: auto; }
        .tips .card_tips .card img {
          width: 100%;
          height: 10rem; }
        .tips .card_tips .card .card-body {
          width: 100%; }
          .tips .card_tips .card .card-body p {
            font-size: 13px; }
    .tips .button_whats {
      position: fixed;
      right: 0;
      bottom: 5%;
      padding: 10px 10px; }
      .tips .button_whats a img {
        width: 35px;
        height: 35px; }
  .contact {
    width: 100%; }
    .contact .button_whats {
      position: fixed;
      right: 0;
      bottom: 5%;
      padding: 10px 10px; }
      .contact .button_whats img {
        width: 35px;
        height: 35px; }
    .contact .title-contact {
      width: 100%;
      padding: 100px 0px; }
      .contact .title-contact h1 {
        font-size: 50px; }
    .contact .contact-container {
      width: 100%;
      padding: 20px 10px; }
      .contact .contact-container .contact-container--social {
        width: 100%;
        padding: 0px;
        flex-flow: column nowrap; }
        .contact .contact-container .contact-container--social .container--social-img {
          width: 100%;
          height: auto;
          padding: 0px; }
          .contact .contact-container .contact-container--social .container--social-img .img_shadow {
            box-shadow: none;
            object-fit: cover;
            padding: 0px 0px; }
        .contact .contact-container .contact-container--social .container--social-redes {
          width: 100%;
          padding: 0px 0px;
          margin: 0px 0px;
          display: grid;
          grid-template-columns: 50% 50%;
          grid-template-rows: auto;
          grid-template-areas: "a1 a1" "a2 a2" "a2 a2";
          justify-content: center;
          align-items: center;
          margin-top: 20px; }
          .contact .contact-container .contact-container--social .container--social-redes h2 {
            font-size: 25px;
            grid-area: a1;
            text-align: center;
            padding-top: 20px; }
          .contact .contact-container .contact-container--social .container--social-redes li {
            width: 100%;
            height: auto;
            margin-top: 40px; }
            .contact .contact-container .contact-container--social .container--social-redes li .social_a {
              font-size: 14px;
              margin-left: 5px; }
            .contact .contact-container .contact-container--social .container--social-redes li a img {
              width: 25px;
              height: 25px; }
      .contact .contact-container .contact-container--reclamos {
        width: 100%;
        flex-flow: column nowrap;
        padding: 20px 10px;
        margin-top: 30px; }
        .contact .contact-container .contact-container--reclamos .container--reclamos-p {
          width: 100%;
          height: auto;
          padding: 0px; }
          .contact .contact-container .contact-container--reclamos .container--reclamos-p h2 {
            font-size: 25px; }
          .contact .contact-container .contact-container--reclamos .container--reclamos-p p {
            font-size: 14px; }
        .contact .contact-container .contact-container--reclamos .img_reclamos {
          width: 100%;
          box-shadow: none;
          padding: 0px 0px;
          margin-top: 10px; }
  footer {
    width: 100%;
    height: auto;
    grid-template-rows: auto;
    grid-template-columns: 100%;
    grid-template-areas: "a1" "a1" "a2" "a3" "a4" "a5";
    grid-gap: 10px;
    padding: 0px; }
    footer .footer--logo {
      width: 100%;
      height: auto;
      padding: 0px 20px;
      display: flex;
      justify-content: center;
      align-items: center; }
      footer .footer--logo img {
        width: 50%;
        height: auto; }
      footer .footer--logo p {
        font-size: 14px;
        padding: 0px;
        width: 100%;
        font-weight: 300; }
    footer .footer--menu {
      width: 100%;
      height: auto;
      padding: 20px 20px; }
      footer .footer--menu h2 {
        text-align: center; }
      footer .footer--menu li {
        text-align: center; }
        footer .footer--menu li a {
          font-size: 14px;
          font-weight: 300; }
    footer .footer--social {
      width: 100%;
      padding: 20px 20px;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center; }
      footer .footer--social h2 {
        text-align: center; }
      footer .footer--social .margin-social {
        margin: 0px 0px; }
      footer .footer--social a img {
        margin-top: 20px; }
    footer .footer-quejas {
      width: 100%;
      padding: 20px 20px; }
      footer .footer-quejas h2 {
        width: 100%;
        text-align: center; }
      footer .footer-quejas p {
        width: 100%;
        padding: 0px;
        margin-top: 20px;
        font-size: 14px;
        font-weight: 300; }
    footer .derechos {
      width: 100%;
      padding: 20px 10px 10px 10px; }
      footer .derechos h3 {
        font-size: 14px;
        text-align: center;
        font-weight: 300; } }

@media screen and (min-width: 380px) {
  .navbar-brand {
    padding: 0px 0px; }
  #navbarNav {
    padding: 0px 0px;
    justify-content: flex-start;
    align-items: flex-start; }
    #navbarNav li {
      padding: 0px 10px; }
      #navbarNav li a {
        font-size: 14px; }
  .main_home {
    width: 100%;
    background-size: cover;
    background-position: center center; }
    .main_home .home {
      padding: 100px 0px; }
      .main_home .home .home-img {
        width: 100%; }
        .main_home .home .home-img img {
          width: 100%;
          height: auto; }
    .main_home .button_whats {
      position: fixed;
      right: 0;
      bottom: 5%;
      padding: 10px 10px; }
      .main_home .button_whats img {
        width: 35px;
        height: 35px; }
  .about {
    width: 100%; }
    .about .title-about {
      padding: 100px 0px; }
      .about .title-about h1 {
        font-size: 50px; }
    .about .about-container {
      width: 100%;
      padding: 30px 30px;
      grid-template-columns: 100%;
      grid-template-rows: auto;
      grid-template-areas: "a1" "a2" "a3" "a4" "a5" "a6" "a7" "a8"; }
      .about .about-container .about-container-img {
        width: 100%;
        height: auto;
        grid-area: a1; }
      .about .about-container .about-p {
        width: 100%;
        height: auto;
        grid-area: a2; }
        .about .about-container .about-p p {
          font-size: 14px; }
        .about .about-container .about-p h2 {
          text-align: center;
          font-size: 30px; }
      .about .about-container .img2 {
        width: 100%;
        height: 100%;
        grid-area: a3; }
      .about .about-container .about-p2 {
        grid-area: a4;
        width: 100%;
        height: auto; }
        .about .about-container .about-p2 p {
          font-size: 14px; }
      .about .about-container .img1 {
        grid-area: a5;
        width: 100%;
        height: auto; }
      .about .about-container .about-p3 {
        grid-area: a6;
        width: 100%;
        height: auto; }
        .about .about-container .about-p3 p {
          font-size: 14px; }
      .about .about-container .img3 {
        grid-area: a7;
        width: 100%;
        height: auto; }
      .about .about-container .img4 {
        grid-area: a8;
        width: 100%;
        height: auto; }
    .about .button_whats {
      position: fixed;
      right: 0;
      bottom: 5%;
      padding: 10px 10px; }
      .about .button_whats a img {
        width: 35px;
        height: 35px; }
  .tips {
    width: 100%;
    padding: 0; }
    .tips .titulo_tips {
      padding: 100px 0px; }
      .tips .titulo_tips h1 {
        font-size: 50px; }
    .tips .container_cachito {
      width: 100%;
      flex-flow: column nowrap; }
      .tips .container_cachito .cachito--img {
        width: 100%;
        padding: 0; }
      .tips .container_cachito .cachito_p {
        width: 100%;
        padding: 20px; }
        .tips .container_cachito .cachito_p p {
          font-size: 13px; }
    .tips .consejos {
      width: 100%;
      padding: 10px 20px; }
      .tips .consejos p {
        font-size: 13px; }
    .tips .card_tips {
      width: 100%;
      flex-flow: column wrap;
      justify-content: center;
      align-items: center; }
      .tips .card_tips .card {
        width: 20rem; }
        .tips .card_tips .card img {
          width: 100%;
          height: 10rem; }
        .tips .card_tips .card .card-body {
          width: 100%; }
          .tips .card_tips .card .card-body p {
            font-size: 13px; }
    .tips .button_whats {
      position: fixed;
      right: 0;
      bottom: 5%;
      padding: 10px 10px; }
      .tips .button_whats a img {
        width: 35px;
        height: 35px; }
  .contact {
    width: 100%; }
    .contact .button_whats {
      position: fixed;
      right: 0;
      bottom: 5%;
      padding: 10px 10px; }
      .contact .button_whats img {
        width: 35px;
        height: 35px; }
    .contact .title-contact {
      width: 100%;
      padding: 100px 0px; }
      .contact .title-contact h1 {
        font-size: 50px; }
    .contact .contact-container {
      width: 100%;
      padding: 30px 20px; }
      .contact .contact-container .contact-container--social {
        width: 100%;
        padding: 0px;
        flex-flow: column nowrap; }
        .contact .contact-container .contact-container--social .container--social-img {
          width: 100%;
          height: auto;
          padding: 0px; }
          .contact .contact-container .contact-container--social .container--social-img .img_shadow {
            box-shadow: none;
            object-fit: cover;
            padding: 0px 0px; }
        .contact .contact-container .contact-container--social .container--social-redes {
          width: 100%;
          padding: 0px 0px;
          margin: 0px 0px;
          display: grid;
          grid-template-columns: 50% 50%;
          grid-template-rows: auto;
          grid-template-areas: "a1 a1" "a2 a2" "a2 a2";
          justify-content: center;
          align-items: center;
          margin-top: 20px; }
          .contact .contact-container .contact-container--social .container--social-redes h2 {
            font-size: 25px;
            grid-area: a1;
            text-align: center;
            padding-top: 20px; }
          .contact .contact-container .contact-container--social .container--social-redes li {
            width: 100%;
            height: auto;
            margin-top: 40px; }
            .contact .contact-container .contact-container--social .container--social-redes li .social_a {
              font-size: 14px;
              margin-left: 5px; }
            .contact .contact-container .contact-container--social .container--social-redes li a img {
              width: 25px;
              height: 25px; }
      .contact .contact-container .contact-container--reclamos {
        width: 100%;
        flex-flow: column nowrap;
        padding: 20px 10px;
        margin-top: 30px; }
        .contact .contact-container .contact-container--reclamos .container--reclamos-p {
          width: 100%;
          height: auto;
          padding: 0px; }
          .contact .contact-container .contact-container--reclamos .container--reclamos-p h2 {
            font-size: 25px; }
          .contact .contact-container .contact-container--reclamos .container--reclamos-p p {
            font-size: 14px; }
        .contact .contact-container .contact-container--reclamos .img_reclamos {
          width: 100%;
          box-shadow: none;
          padding: 0px 0px;
          margin-top: 10px; }
  footer {
    width: 100%;
    height: auto;
    grid-template-rows: auto;
    grid-template-columns: 100%;
    grid-template-areas: "a1" "a1" "a2" "a3" "a4" "a5";
    grid-gap: 10px;
    padding: 0px; }
    footer .footer--logo {
      width: 100%;
      height: auto;
      padding: 0px 20px;
      display: flex;
      justify-content: center;
      align-items: center; }
      footer .footer--logo img {
        width: 50%;
        height: auto; }
      footer .footer--logo p {
        font-size: 14px;
        padding: 0px;
        width: 100%;
        font-weight: 300; }
    footer .footer--menu {
      width: 100%;
      height: auto;
      padding: 20px 20px; }
      footer .footer--menu h2 {
        text-align: center; }
      footer .footer--menu li {
        text-align: center; }
        footer .footer--menu li a {
          font-size: 14px;
          font-weight: 300; }
    footer .footer--social {
      width: 100%;
      padding: 20px 20px;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center; }
      footer .footer--social h2 {
        text-align: center; }
      footer .footer--social .margin-social {
        margin: 0px 0px; }
      footer .footer--social a img {
        margin-top: 20px; }
    footer .footer-quejas {
      width: 100%;
      padding: 20px 20px; }
      footer .footer-quejas h2 {
        width: 100%;
        text-align: center; }
      footer .footer-quejas p {
        width: 100%;
        padding: 0px;
        margin-top: 20px;
        font-size: 14px;
        font-weight: 300; }
    footer .derechos {
      width: 100%;
      padding: 20px 10px 10px 10px; }
      footer .derechos h3 {
        font-size: 14px;
        text-align: center;
        font-weight: 300; } }

@media screen and (min-width: 480px) {
  .contact {
    width: 100%;
    padding: 0px; }
    .contact .contact-container {
      width: 100%;
      padding: 30px; }
      .contact .contact-container .contact-container--social {
        width: 100%; }
        .contact .contact-container .contact-container--social .container--social-redes {
          width: 100%;
          justify-content: center;
          align-items: center; }
          .contact .contact-container .contact-container--social .container--social-redes li {
            padding-left: 30px; }
  .tips {
    width: 100%;
    padding: 0; }
    .tips .titulo_tips {
      padding: 100px 0px; }
      .tips .titulo_tips h1 {
        font-size: 50px; }
    .tips .container_cachito {
      width: 100%;
      flex-flow: column nowrap; }
      .tips .container_cachito .cachito--img {
        width: 80%;
        padding: 0; }
      .tips .container_cachito .cachito_p {
        width: 100%;
        padding: 30px; }
        .tips .container_cachito .cachito_p p {
          font-size: 14px; }
    .tips .consejos {
      width: 100%;
      padding: 10px 20px; }
      .tips .consejos p {
        font-size: 14px; }
    .tips .card_tips {
      width: 100%;
      flex-flow: column wrap;
      justify-content: center;
      align-items: center; }
      .tips .card_tips .card {
        width: 25rem; }
        .tips .card_tips .card img {
          width: 100%;
          height: 15rem; }
        .tips .card_tips .card .card-body {
          width: 100%; }
          .tips .card_tips .card .card-body p {
            font-size: 14px; }
    .tips .button_whats {
      position: fixed;
      right: 0;
      bottom: 5%;
      padding: 10px 10px; }
      .tips .button_whats a img {
        width: 35px;
        height: 35px; } }

@media screen and (min-width: 600px) {
  .main_home {
    width: 100%; }
    .main_home .button_whats {
      padding: 25px; }
      .main_home .button_whats img {
        width: 40px;
        height: 40px; }
  .about {
    width: 100%; }
    .about .title-about h1 {
      font-size: 70px; }
    .about .button_whats {
      padding: 25px; }
      .about .button_whats a img {
        width: 40px;
        height: 40px; }
  .contact {
    width: 100%; }
    .contact .title-contact {
      width: 100%; }
      .contact .title-contact h1 {
        font-size: 70px; }
    .contact .button_whats {
      padding: 25px; }
      .contact .button_whats img {
        width: 40px;
        height: 40px; }
  .tips {
    width: 100%;
    padding: 0; }
    .tips .titulo_tips {
      padding: 100px 0px; }
      .tips .titulo_tips h1 {
        font-size: 50px; }
    .tips .container_cachito {
      width: 100%;
      flex-flow: column nowrap; }
      .tips .container_cachito .cachito--img {
        width: 70%;
        padding: 0; }
      .tips .container_cachito .cachito_p {
        width: 100%;
        padding: 30px; }
        .tips .container_cachito .cachito_p p {
          font-size: 15px; }
    .tips .consejos {
      width: 100%;
      padding: 10px 20px; }
      .tips .consejos p {
        font-size: 15px; }
    .tips .card_tips {
      width: 100%;
      flex-flow: column wrap;
      justify-content: center;
      align-items: center; }
      .tips .card_tips .card {
        width: 33rem; }
        .tips .card_tips .card img {
          width: 100%;
          height: 20rem; }
        .tips .card_tips .card .card-body {
          width: 100%; }
          .tips .card_tips .card .card-body p {
            font-size: 15px; }
    .tips .button_whats {
      padding: 25px; }
      .tips .button_whats a img {
        width: 40px;
        height: 40px; }
  footer {
    width: 100%;
    grid-template-rows: auto;
    grid-template-columns: 50% 50%;
    grid-template-areas: "a1 a1" "a2 a3" "a4 a4" "a6 a6";
    padding: 10px; }
    footer .footer--logo {
      padding: 20px; }
    footer .derechos {
      grid-area: a6; } }

@media screen and (min-width: 768px) {
  .about {
    width: 100%; }
    .about .about-container {
      width: 100%;
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas: "a1 a2" "a4 a3" "a5 a6" "a7 a8"; }
    .about .button_whats {
      padding: 25px; }
      .about .button_whats a img {
        width: 40px;
        height: 40px; }
  .tips {
    width: 100%;
    padding: 0; }
    .tips .titulo_tips {
      padding: 100px 0px; }
      .tips .titulo_tips h1 {
        font-size: 50px; }
    .tips .container_cachito {
      width: 100%;
      flex-flow: column nowrap; }
      .tips .container_cachito .cachito--img {
        width: 70%;
        padding: 0; }
      .tips .container_cachito .cachito_p {
        width: 100%;
        padding: 30px; }
        .tips .container_cachito .cachito_p p {
          font-size: 15px; }
    .tips .consejos {
      width: 100%;
      padding: 10px 20px; }
      .tips .consejos p {
        font-size: 15px; }
    .tips .card_tips {
      width: 100%;
      flex-flow: row wrap;
      justify-content: space-evenly;
      align-items: center;
      gap: 20px;
      padding: 22px; }
      .tips .card_tips .card {
        width: 22rem; }
        .tips .card_tips .card img {
          width: 100%;
          height: 20rem; }
        .tips .card_tips .card .card-body {
          width: 100%; }
          .tips .card_tips .card .card-body p {
            font-size: 14px; }
    .tips .button_whats {
      padding: 25px; }
      .tips .button_whats a img {
        width: 40px;
        height: 40px; }
  .contact {
    width: 100%; }
    .contact .contact-container {
      width: 100%;
      padding: 40px; }
      .contact .contact-container .contact-container--social {
        width: 100%;
        height: 50%;
        display: flex;
        flex-flow: row nowrap; }
        .contact .contact-container .contact-container--social .container--social-img {
          width: 50%; }
        .contact .contact-container .contact-container--social .container--social-redes {
          width: 50%;
          margin-top: 0; }
          .contact .contact-container .contact-container--social .container--social-redes li {
            margin-top: 20px; }
          .contact .contact-container .contact-container--social .container--social-redes h2 {
            padding-top: 0; }
      .contact .contact-container .contact-container--reclamos {
        width: 100%;
        height: 50%;
        flex-flow: row nowrap; }
        .contact .contact-container .contact-container--reclamos .container--reclamos-p {
          width: 50%;
          height: 100%;
          padding: 20px; }
        .contact .contact-container .contact-container--reclamos .img_reclamos {
          width: 50%; }
  footer {
    width: 100%;
    grid-template-areas: "a1 a3" "a2 a4" "a5 a5"; }
    footer .derechos {
      grid-area: a5; } }

@media screen and (min-width: 998px) {
  #navbarNav {
    padding: 0px 0px;
    justify-content: flex-end;
    align-items: flex-start; }
  .about {
    width: 100%; }
    .about .about-container {
      width: 100%;
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas: "a1 a2 a3" "a4 a5 a6" "a7 a8 a8"; }
  .tips {
    width: 100%;
    padding: 0; }
    .tips .titulo_tips {
      padding: 100px 0px; }
      .tips .titulo_tips h1 {
        font-size: 50px; }
    .tips .container_cachito {
      width: 100%;
      flex-flow: row nowrap;
      padding: 50px 30px; }
      .tips .container_cachito .cachito--img {
        width: 70%;
        padding: 0; }
      .tips .container_cachito .cachito_p {
        width: 100%;
        padding: 30px; }
        .tips .container_cachito .cachito_p p {
          font-size: 15px; }
    .tips .consejos {
      width: 100%;
      padding: 10px 30px; }
      .tips .consejos p {
        font-size: 15px; }
    .tips .card_tips {
      width: 100%;
      flex-flow: row wrap;
      justify-content: space-evenly;
      align-items: center;
      gap: 20px;
      padding: 20px 0px; }
      .tips .card_tips .card {
        width: 25rem; }
        .tips .card_tips .card img {
          width: 100%;
          height: 20rem; }
        .tips .card_tips .card .card-body {
          width: 100%; }
          .tips .card_tips .card .card-body p {
            font-size: 14px; }
    .tips .button_whats {
      padding: 25px; }
      .tips .button_whats a img {
        width: 40px;
        height: 40px; } }

@media screen and (min-width: 1024px) {
  .main_home {
    width: 100%; }
    .main_home .home {
      width: 100%; }
      .main_home .home .home-img {
        width: 100%; }
        .main_home .home .home-img img {
          width: 60%;
          height: auto; }
  .contact {
    width: 100%; }
    .contact .contact-container {
      width: 100%;
      padding: 30px; }
      .contact .contact-container .contact-container--social {
        width: 100%; }
        .contact .contact-container .contact-container--social .container--social-img {
          width: 50%;
          height: auto; }
          .contact .contact-container .contact-container--social .container--social-img .img_shadow {
            box-shadow: none; }
        .contact .contact-container .contact-container--social .container--social-redes h2 {
          font-size: 30px;
          margin-bottom: 30px; }
        .contact .contact-container .contact-container--social .container--social-redes li a img {
          width: 35px;
          height: 35px; }
        .contact .contact-container .contact-container--social .container--social-redes li .social_a {
          font-size: 16px; }
      .contact .contact-container .contact-container--reclamos {
        width: 100%;
        height: 50%; }
        .contact .contact-container .contact-container--reclamos .img_reclamos {
          box-shadow: none; }
        .contact .contact-container .contact-container--reclamos .container--reclamos-p {
          padding-right: 40px; }
          .contact .contact-container .contact-container--reclamos .container--reclamos-p h2 {
            font-size: 30px; }
  .tips {
    width: 100%;
    padding: 0; }
    .tips .titulo_tips {
      padding: 100px 0px; }
      .tips .titulo_tips h1 {
        font-size: 50px; }
    .tips .container_cachito {
      width: 100%;
      flex-flow: row nowrap;
      padding: 50px 30px; }
      .tips .container_cachito .cachito--img {
        width: 70%;
        padding: 0; }
      .tips .container_cachito .cachito_p {
        width: 100%;
        padding: 30px; }
        .tips .container_cachito .cachito_p p {
          font-size: 15px; }
    .tips .consejos {
      width: 100%;
      padding: 10px 30px; }
      .tips .consejos p {
        font-size: 15px; }
    .tips .card_tips {
      width: 100%;
      flex-flow: row wrap;
      justify-content: space-evenly;
      align-items: center;
      gap: 20px;
      padding: 20px 0px; }
      .tips .card_tips .card {
        width: 27rem; }
        .tips .card_tips .card img {
          width: 100%;
          height: 20rem; }
        .tips .card_tips .card .card-body {
          width: 100%; }
          .tips .card_tips .card .card-body p {
            font-size: 15px; }
    .tips .button_whats {
      padding: 25px; }
      .tips .button_whats a img {
        width: 40px;
        height: 40px; }
  footer {
    width: 100%;
    padding: 0;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "a1 a2 a3" "a4 a4 a4" "a6 a6 a6";
    justify-content: center;
    align-items: center; }
    footer .footer--logo {
      width: 100%;
      padding: 0;
      justify-content: flex-start;
      padding-left: 30px; }
      footer .footer--logo p {
        font-size: 15px; }
    footer .footer--menu {
      padding-top: 0; }
      footer .footer--menu li a {
        font-size: 15px; }
    footer .footer--social {
      padding-right: 30px; }
      footer .footer--social a img {
        width: 35px;
        height: 35px; }
    footer .footer-quejas {
      padding: 20px 30px; }
      footer .footer-quejas p {
        font-size: 15px; }
    footer .derechos {
      grid-area: a6; }
      footer .derechos h3 {
        font-size: 14px; } }

@media screen and (min-width: 1200px) {
  .about {
    width: 100%; }
  footer {
    width: 100%;
    grid-template-columns: 40% 30% 30%;
    grid-template-areas: "a1 a2 a3" "a1 a2 a3" "a1 a4 a4" "a5 a5 a5";
    padding: 40px; }
    footer .footer--social {
      padding: 0; }
    footer .derechos {
      grid-area: a5; }
  .contact {
    width: 100%; }
    .contact .contact-container {
      width: 100%;
      padding: 80px; }
      .contact .contact-container .contact-container--social {
        width: 100%; }
        .contact .contact-container .contact-container--social .container--social-img {
          box-shadow: -30px 30px rgba(0, 0, 0, 0.192);
          border-radius: 10px; }
        .contact .contact-container .contact-container--social .container--social-redes {
          padding-left: 50px; }
      .contact .contact-container .contact-container--reclamos .img_reclamos {
        box-shadow: 30px 30px rgba(0, 0, 0, 0.192); }
  .tips {
    width: 100%;
    padding: 0; }
    .tips .titulo_tips {
      padding: 100px 0px; }
      .tips .titulo_tips h1 {
        font-size: 50px; }
    .tips .container_cachito {
      width: 100%;
      flex-flow: row nowrap;
      padding: 50px 30px; }
      .tips .container_cachito .cachito--img {
        width: 70%;
        padding: 0; }
      .tips .container_cachito .cachito_p {
        width: 100%;
        padding: 30px; }
        .tips .container_cachito .cachito_p p {
          font-size: 15px; }
    .tips .consejos {
      width: 100%;
      padding: 10px 30px; }
      .tips .consejos p {
        font-size: 15px; }
    .tips .card_tips {
      width: 100%;
      flex-flow: row wrap;
      justify-content: space-evenly;
      align-items: center;
      gap: 10px;
      padding: 20px 20px; }
      .tips .card_tips .card {
        width: 23rem; }
        .tips .card_tips .card img {
          width: 100%;
          height: 20rem; }
        .tips .card_tips .card .card-body {
          width: 100%; }
          .tips .card_tips .card .card-body p {
            font-size: 15px; }
    .tips .button_whats {
      padding: 25px; }
      .tips .button_whats a img {
        width: 40px;
        height: 40px; }
  footer {
    width: 100%;
    padding: 40px 0px 0px 0px;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px; }
    footer .footer--social {
      width: 100%;
      grid-area: a2; }
    footer .footer--menu {
      grid-area: a3;
      padding-right: 0; } }
