$color_1: #264653;
$color_2: #764134;
$color_3: #60A3D9;
$color_4: #F4f4f4;
$color_5: #F5D0C5;
$tamaño_parrafos_mobile:13px;
$tamaño_parrafos_desktop:16px;
$cursive:'Pacifico', cursive;
$general_font: 'Roboto', sans-serif;
$title_sections: 80px;
$border_radius_img: 20px;